name: "Test EQL"
on:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/test-eql.yml"
      - "src/**/*.sql"
      - "sql/**/*.sql"
      - "tests/**/*"
      - "tasks/**/*"

  pull_request:
    # run on all pull requests
    paths:
      - ".github/workflows/test-eql.yml"
      - "src/**/*.sql"
      - "sql/**/*.sql"
      - "tests/**/*"
      - "tasks/**/*"

  workflow_dispatch:

defaults:
  run:
    shell: bash -l {0}

jobs:
  validate-docs:
    name: "Validate SQL Documentation"
    runs-on: ubuntu-latest-m

    steps:
      - uses: actions/checkout@v4

      - uses: jdx/mise-action@v2
        with:
          version: 2025.1.6
          install: true
          cache: true

      - name: Setup database
        run: |
          mise run postgres:up --extra-args "--detach --wait"

      - name: Validate SQL documentation
        run: |
          mise run docs:validate

  test:
    name: "Test EQL SQL components"
    runs-on: ubuntu-latest-m
    needs: validate-docs

    strategy:
      fail-fast: false
      matrix:
        postgres-version: [17, 16, 15, 14]

    env:
      POSTGRES_VERSION: ${{ matrix.postgres-version }}

    steps:
      - uses: actions/checkout@v4

      - uses: jdx/mise-action@v3
        with:
          version: 2025.11.2 # [default: latest] mise version to install
          install: true # [default: true] run `mise install`
          cache: true # [default: true] cache mise using GitHub's cache

      - name: Setup database (Postgres ${{ matrix.postgres-version }})
        run: |
          mise run postgres:up postgres-${POSTGRES_VERSION} --extra-args "--detach --wait"

      - name: Test EQL for Postgres ${{ matrix.postgres-version }}
        run: |
          export active_rust_toolchain=$(rustup show active-toolchain | cut -d' ' -f1)
          rustup component add --toolchain ${active_rust_toolchain} rustfmt clippy
          mise run --output prefix test --postgres ${POSTGRES_VERSION}



